<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	
	<ui:composition template="_template.xhtml">
		
		<f:metadata>
			<f:viewParam name="autorId" value="#{autorBean.autorId}" />
			<f:viewAction action="#{autorBean.carregarAutorPeloId}" if="#{param.autorId != null}"/>
		</f:metadata>
		
		<ui:define name="titulo">
			<p:outputLabel>Novo Autor</p:outputLabel>
		</ui:define>
		
		<ui:define name="conteudo">
			<h:form id="autor">
				<p:fieldset legend="Dados do Autor">
					<h:panelGrid columns="3">

						<p:outputLabel value="Nome:" for="nome" />
						<p:inputText id="nome" value="#{autorBean.autor.nome}"
							required="true">
							<f:validateLength minimum="5" />
							<f:ajax event="blur" render="messageNome" />
						</p:inputText>
						<p:message for="nome" id="messageNome" />
						
						<p:outputLabel value="Email:" for="email" />
						<p:inputText id="email" value="#{autorBean.autor.email}" required="true" validatorMessage="Email inválido">
							<f:attribute name="type" value="email" />
							<f:passThroughAttribute name="placeholder" value="Email do autor" />
							<f:validateRegex pattern=".+@.+" />
							<f:ajax event="blur" render="messageEmail" />
						</p:inputText> 

						<p:message for="email" id="messageEmail" />

						<p:commandButton value="Gravar" action="#{autorBean.gravar}" process="@form" update="@form :formTabelaAutors" />
					</h:panelGrid>
				</p:fieldset>
			</h:form>
			
			<h:form id="formTabelaAutors">
				<p:dataList value="#{autorBean.autores}" var="autor" type="definition">
					<f:facet name="header">
						Autores
					</f:facet>
					
					<p:commandLink styleClass="ui-icon ui-icon-pencil" style="float:left;margin-right:10px" update=":autor">
						<f:setPropertyActionListener value="#{autor}" target="#{autorBean.autor}" />
					</p:commandLink>
					
					<p:commandLink styleClass="ui-icon ui-icon-trash" style="float:left;margin-right:10px" action="#{autorBean.remover(autor)}" 
						update="@form" />
						
					#{autor.nome} - #{autor.email}
				</p:dataList>
			</h:form>		
		</ui:define>
	</ui:composition>
</html>
<!-- f:metadata, f:viewParam e f:viewAction servem para enviar um parametro na URL -->
