<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

	<h:head />
	<ui:composition template="_template.xhtml">
		
		<f:metadata>
			<f:viewParam name="livroId" value="#{livroBean.livroId}" />
			<f:viewAction action="#{livroBean.carregarLivroPeloId}" if="#{param.livroId != null}"/>
		</f:metadata>
	
		<ui:define name="titulo">Novo Livro</ui:define>
		
		<ui:define name="conteudo">
			<h:form id="formCampos">
				<h:messages id="messages"/>
				<fieldset>
					<legend>Dados do Livro</legend>
					
					<h:panelGrid columns="2">
						<h:outputLabel value="Titulo" for="titulo"/>
						<h:inputText id="titulo" value="#{livroBean.livro.titulo}" required="true" >
							<f:validateLength maximum="40" minimum="2"/>
							<f:ajax event="blur" render="messages" />
						</h:inputText>
						
						<h:outputLabel value="ISBN" for="isbn" />
						<h:inputText id="isbn" value="#{livroBean.livro.isbn}" validator="#{livroBean.comecaComDigitoUm}"/>
						
						<h:outputLabel value="Preço" for="preco" />
						<h:inputText id="preco" value="#{livroBean.livro.preco}" />
						
						<h:outputLabel value="Data Lançamento" for="dataLancamento" />
						<h:inputText id="dataLancamento" value="#{livroBean.livro.dataLancamento.time}" >
							<f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Sao_Paulo" />
						</h:inputText>
					</h:panelGrid>
				</fieldset>
			
				<fieldset>
					<legend>Dados do Autor</legend>
					<h:panelGrid columns="2">
						<h:outputLabel value="Selecione o Autor" for="autor" />
						<h:selectOneMenu value="#{livroBean.autorId}" id="autor">
							<f:selectItems value="#{livroBean.autores}" var="autor" itemLabel="#{autor.nome}" itemValue="#{autor.id}"/>
						</h:selectOneMenu>
					</h:panelGrid>
						
					<h:commandButton value="Gravar Autor" action="#{livroBean.gravarAutor}">
						<f:ajax execute="autor" render="tabelaAutores"/>
					</h:commandButton>
					
					<br />
					
					<h:commandLink value="Cadastrar novo Autor" action="#{livroBean.formAutor}" immediate="true" />
					
					<br />
					
					<h:dataTable value="#{livroBean.autoresDoLivro}" var="autor" id="tabelaAutores">
						<h:column>	
							<f:facet name="header">Autor</f:facet>
							<h:outputText value="#{autor.nome}" />
						</h:column>
						<h:column>
							<f:facet name="header">Operação</f:facet>
							<h:commandLink value="Remover" action="#{livroBean.removerAutorLivro(autor)}"/>
					</h:column>
					</h:dataTable>
				</fieldset>
				
				<h:commandButton value="Gravar" action="#{livroBean.gravar}">
					<f:ajax execute="@form" render="@form :formTabelaLivros:tabelaLivros"/>
				</h:commandButton>
			</h:form>
			
			<h:form id="formTabelaLivros">
				<h:dataTable value="#{livroBean.livros}" var="livro" id="tabelaLivros">
					<h:column>
						<f:facet name="header">Titulo</f:facet>
						<h:outputText value="#{livro.titulo}" />
					</h:column>
					<h:column>
						<f:facet name="header">ISBN</f:facet>
						<h:outputText value="#{livro.isbn}" />
					</h:column>
					<h:column>
						<f:facet name="header">Preço</f:facet>
						<h:outputText value="#{livro.preco}">
							<f:convertNumber type="currency" pattern="R$ #0.00" currencySymbol="R$" locale="pt_BR" />
						</h:outputText>
					</h:column>
					<h:column>
						<f:facet name="header">Data de Lançamento</f:facet>
						<h:outputText value="#{livro.dataLancamento.time}">
							<f:convertDateTime pattern="dd/MM/yyyy" timeZone="Amercia/Sao_Paulo" />
						</h:outputText>
					</h:column>
					<h:column>
						<f:facet name="header">Operação</f:facet>
						<h:commandLink value="Remover" action="#{livroBean.remover(livro)}"/>
					</h:column>
					<h:column>
						<f:facet name="header">Operação</f:facet>
						<h:commandLink value="Alterar" action="#{livroBean.carregar(livro)}"/>
					</h:column>
				</h:dataTable>
			</h:form>
		</ui:define>
	</ui:composition>
</html>
<!-- o .time serve para converter java.util.Date 
	 o ajax do botao gravar autor esta referenciando o id aujtor do componente h:selectOneMenu
	 obrigatorio ter o header, mesmo que seja fazio, o jsf adiciona uma biblioteca js
	 o render do ajax esta referenciando o id da tabela tabelaAutores na acao do botao gravar autores
	 o render do ajax esta referenciando o id do messages para exibir as menssagens ao perder o focu do campu com o blur
	 usei o :tabelaLivros para indicar um caminho absoluto pois o ajax vai tentar achar o tabelaLivros dentro do formulario e a tabela esta fora do formulario
	 
	 o jsf possui 6 fases
	 immediate do botao gravar autor pula a fase 3 de validacao e eh executado o redirect na fase 2
	 
	 </ui:composition> fina no lugar do body pq esta sendo associado a um template
	 
	 lazily initialize acontece quando carrega o livro mas nao carrega os autores por causa do relacionamento manytomany de livros, foi incluido a @ManyToMany(fetch=FetchType.EAGER), acessar um relacionamento não inicializado
-->